<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=hifitransferts.mdb" providerName="JetEntityFrameworkProvider" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="JetEntityFrameworkProvider" type="JetEntityFrameworkProvider.JetProviderServices, JetEntityFrameworkProvider"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="JetEntityFrameworkProvider"/>
      <add invariant="JetEntityFrameworkProvider" name="Jet Entity Framework Provider" description="Jet Entity Framework Provider"
        type="JetEntityFrameworkProvider.JetProviderFactory, JetEntityFrameworkProvider"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="nomAgence" value="HIFI INTERNATIONAL SA" />
    <add key="numAgence" value="015" />
    <add key="adresse1Agence" value="C.C. BELLE ETOILE" />
    <add key="adresse2Agence" value="ROUTE D'ARLON" />
    <add key="cpAgence" value="8050" />
    <add key="villeAgence" value="BERTRANGE" />
    <add key="telAgence" value="(+352) 31.20.31" />
    <add key="faxAgence" value="(+352) 31.20.31.25" />
    <add key="emailAgence" value="hifi15@hifi.lu" />
    <add key="dbPath" value="hifitransferts.mdb" />
    <add key="emailSmtp" value="mail.netline.lu" />
    <add key="emailPort" value="587" />
    <add key="emailUser" value="user" />
    <add key="emailPassword" value="password" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>